.container {
  display: flex;
  flex-direction: column;
}

.container__content {
  display: flex;
  margin-top: 5px;
}

.container__content__text {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-left: 100px;
}

.container__content__text__headtitle {
  flex: 1;
  font-size: 38px;
  font-weight: 900;
}

.container__content__text__subtitle {
  flex: 1;
  font-size: 18px;
  font-weight: 200;
  font-style: italic;
  margin-top: 60px;
}

.container__content__text__button {
  flex: 1;
  margin-top: 20px;
}

.container__content__image {
  flex: 0.5;
  padding: 0 0 0 60px;
  margin-top: 30px;
  width: 40%;
  height: auto;
}

.container__content__subtitle {
  margin-top: 20px;
  font-size: 16px;
  color: #d6d6d6;
  font-weight: 100;
  font-style: italic;
  margin-left: 100px;
  padding: 0 50px;
}

@media (max-width: 1350px) {
  .container__content__image {
    width: 50%;
    height: 400px;
  }

  .container__content__text {
    padding: 40px;
  }

  .container__content__text__headtitle {
    font-size: 30px;
  }

  .container__content__text__subtitle {
    font-size: 18px;
  }
  .container__content__subtitle {
    font-size: 14px;
    padding: 0 40px;
    margin: 60px 0;
  }
}

@media (max-width: 1150px) {
  .container__content__text {
    margin-left: 70px;
  }

  .container__content__text__headtitle {
    font-size: 27px;
  }

  .container__content__text__subtitle {
    font-size: 18px;
  }

  .container__content__subtitle {
    margin-left: 70px;
    margin-top: 50px;
  }
}

@media (max-width: 985px) {
  .container__content__image {
    width: 50%;
    height: 350px;
  }

  .container__content__text__headtitle {
    font-size: 24px;
  }

  .container__content__text__subtitle {
    font-size: 16px;
    margin-bottom: 40px;
  }
}

@media (max-width: 760px) {
  .container {
    align-items: center;
  }

  .container__content {
    align-items: center;
  }

  .container__content__image {
    display: none;
  }

  .container__content__text {
    margin-left: 20px;
  }

  .container__content__text__headtitle {
    font-size: 32px;
  }

  .container__content__text__subtitle {
    font-size: 18px;
  }
  .container__content__subtitle {
    font-size: 16px;
    margin-left: 20px;
  }
}
